#    "../env/Scripts/python.exe" -m app.TestSteamFinal
#python -m app.Parse_launch
#Mika and The Witch's Mountain,22 янв. 2025 г.,90% из 332 обзоров положительные.,Нет ссылки
#SELECT games.name AS game_name, reviews.review_text, reviews.rating  
#FROM reviews  
#JOIN games ON reviews.game_id = games.id  
#WHERE games.name = 'City Transport Simulator: Tram';
